<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>Something went wrong - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🤖 Computer says no.</h1>
        <h2>Something went wrong.</h2>
        <p>We're working hard to solve the problem. We apologize for the inconvenience. Please try again soon.</p>
      </div>
    </div>
  </body>
</html>
