@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto/medium.woff2") format("woff2"), url("../fonts/roboto/medium.woff") format("woff"), url("../fonts/roboto/medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto/regular.woff2") format("woff2"), url("../fonts/roboto/regular.woff") format("woff"), url("../fonts/roboto/regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto Regular";
    font-size: 15px;
    color: #8dabc4;
    line-height: 24px;
    margin: 0;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

div.content {
    max-width: 512px;
    padding: 32px;
}

h1 {
    font-family: "Roboto Medium";
    font-size: 48px;
    color: #2c405a;
    line-height: 64px;
    margin: 0;
}

h2 {
    font-family: "Roboto Regular";
    font-size: 28px;
    color: #3f536e;
    line-height: 48px;
    margin: 0;
}

p {
    margin: 8px 32px 48px 32px;
}

a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    color: #0093ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    font-family: "Roboto Regular";
    font-size: 16px;
    color: #fff;
    background-color: #0093ee;
    border-radius: 8px;
    padding: 12px 24px;
}
