<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>Sign-in blocked - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🚨 Sign-in blocked.</h1>
        <h2>Tripetto is currently unavailable.</h2>
        <p>
          Due to suspicious activity and/or reports about fraudulent use, access to Tripetto has been suspended. Please contact our customer support if you need assistance creating or accessing a Tripetto account.
        </p>
        <a href="https://tripetto.com/support/" class="button">Contact support</a>
      </div>
    </div>
  </body>
</html>
