<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>Your account was deleted - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🌪️ It's a goner!</h1>
        <h2>Your account was deleted.</h2>
        <p>
          Your account and everything in it has been permanently deleted. We
          keep no copies. We welcome you to start anew at any time.
        </p>
        <a href="/" class="button">Start from scratch with Tripetto</a>
      </div>
    </div>
  </body>
</html>
