<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>You logged out somewhere else - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>👋 There you go.</h1>
        <h2>You signed out somewhere else.</h2>
        <p>
          We don't know if you intended to sign out at all, but we hope to see you back soon anyway.
        </p>
        <a href="/" class="button">Sign back in again</a>
      </div>
    </div>
  </body>
</html>
